{% extends 'base.html' %}

{% block title %}All Pages{% endblock %}

{% block content %}
    <script>
        $("#nav-link-pages").addClass("active");
    </script>

    <!-- ADD PAGE MODAL -->
    <div class="modal fade" id="addPageModal" tabindex="-1" aria-labelledby="addPageModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addPageLabel">Add Page</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="page-url" class="col-form-label">Page URL:</label>
                            <input type="text" class="form-control" id="page-url">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" onclick="addPage()">Add</button>
                </div>
            </div>
        </div>
    </div>

    <!-- ERROR MODAL -->
    <div class="modal fade" id="errorModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Error adding new page</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>There was an error adding your page<br>Please try again.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- NOTIFICATIONS -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <!-- Add Success -->
        <div id="addPageSuccessNotification" class="toast bg-success text-white" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Message</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Page added successfully!
            </div>
        </div>
    </div>

    <!-- Pages Table -->
    <div id="TableDiv" class="card mb-4">
        <div class="card-body">
            <div class="header-1">
                <h3 style="float: left">All Pages</h3>
                <div style="float:right; margin-left: 10px;" class="header-btns">
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addPageModal">Add Page</button>
                    <button type="button" class="btn btn-blue" data-bs-toggle="modal" data-bs-target="#editPageModal">Edit Page</button>
                    <button type="button" class="btn btn-red" data-bs-toggle="modal" data-bs-target="#deletePageModal">Delete Pages</button>
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#PublishPageModal">Publish Pages</button>
                </div>
            </div>
            <table class="table" id="table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>URL</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                <tr>
                    <th>Title</th>
                    <th>URL</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <!-- End Pages Table -->

{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/all_pages.js') }}"></script>
{% endblock %}
