{% extends 'base.html' %}

{% block title %}Sites{% endblock %}

{% block content %}
    <script>
        $("#nav-link-sites").addClass("active");
    </script>

    <!-- ADD SITE MODAL -->
    <div class="modal fade" id="addSiteModal" tabindex="-1" aria-labelledby="addSiteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addSiteLabel">Add Site</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="site-url" class="col-form-label">URL:</label>
                            <input type="text" class="form-control" id="site-url">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" onclick="addSite()">Add</button>
                </div>
            </div>
        </div>
    </div>

    <!-- EDIT SITE MODAL -->
    <div class="modal fade" id="editSiteModal" tabindex="-1" aria-labelledby="editSiteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editSiteLabel">Edit Site</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="e-site-id" class="col-form-label">Site ID:</label>
                            <input type="text" class="form-control" id="e-site-id">
                        </div>
                        <div class="mb-3">
                            <label for="e-site-url" class="col-form-label">URL:</label>
                            <input type="text" class="form-control" id="e-site-url">
                        </div>
                        <div class="mb-3">
                            <label for="e-site-folder" class="col-form-label">Folder:</label>
                            <input type="text" class="form-control" id="e-site-folder">
                        </div>

                        <input type="hidden" class="form-control" id="h-e-site-id">
                        <input type="hidden" class="form-control" id="h-e-site-url">
                        <input type="hidden" class="form-control" id="h-e-site-folder">

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" onclick="updateSite()">Update</button>
                </div>
            </div>
        </div>
    </div>

    <!-- (DELETE) ERROR MODAL -->
    <div class="modal fade" id="errorDeleteModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Error deleting site</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>There was an error removing your site<br>Please try again.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- ERROR MODAL -->
    <div class="modal fade" id="errorModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Error adding new site</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>There was an error adding your site<br>Please try again.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- NOTIFICATIONS -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <!-- Add Success -->
        <div id="addSiteSuccessNotification" class="toast bg-success text-white" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Message</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Site added successfully!
            </div>
        </div>
    </div>

    <!-- Table -->
    <div id="TableDiv" class="card mb-4">
        <div class="card-body">
            <div class="header-1">
                <h3 style="float: left">Sites</h3>
                <div style="float:right; margin-left: 10px;" class="header-btns">
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addSiteModal">Add Site</button>
                    <button type="button" class="btn btn-blue" data-bs-toggle="modal" data-bs-target="#editSiteModal" onclick="console.log('Edit Site button clicked'); populateEditSiteDialog();">Edit Site</button>
                    <button type="button" class="btn btn-red" data-bs-toggle="modal" data-bs-target="#deleteSiteModal" onclick="console.log('Delete Site button clicked'); deleteSites();">Delete Site</button>
                    {#                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#publishSiteModal">Publish Site</button>#}
                </div>
            </div>
            <table class="table" id="table">
                <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>URL</th>
                    <th>Folder</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>URL</th>
                    <th>Folder</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <!-- End Table -->
{% endblock %}


{% block script %}
    <script src="{{ url_for('static', filename='js/sites.js') }}"></script>
{% endblock %}
