{% extends 'base.html' %}

{% block title %}People{% endblock %}

{% block content %}
    <script>
        $("#nav-link-people").addClass("active");
    </script>

    <!-- EDIT USER MODAL -->
    <div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editUserLabel">Edit User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="e-user-name" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="e-user-name">
                        </div>
                        <div class="mb-3">
                            <label for="e-user-email" class="col-form-label">Email:</label>
                            <input type="text" class="form-control" id="e-user-email">
                        </div>
                        <!--
                                    <div class="mb-3">
                                        <label for="e-user-master" class="col-form-label">Is Master:</label>
                                        <input type="text" class="form-control" id="e-user-master">
                                    </div>
                        -->
                        <div class="mb-3">
                            <label for="e-user-display-name" class="col-form-label">Display Name:</label>
                            <input type="text" class="form-control" id="e-user-display-name">
                        </div>
                        <div class="mb-3">
                            <label for="e-user-group-name" class="col-form-label">Group:</label>
                            <input type="text" class="form-control" id="e-user-group-name">

                            <input type="hidden" id="h-e-user-name">
                            <input type="hidden" id="h-e-user-email">
                            <!-- <input type="hidden" id="h-e-user-master"> -->
                            <input type="hidden" id="h-e-user-display-name">
                            <input type="hidden" id="h-e-user-group-name">

                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" onclick="updateUser()">Update</button>
                </div>
            </div>
        </div>
    </div>

    <!-- ADD USER MODAL -->
    <div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addUserLabel">Add User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="user-name" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="user-name">
                        </div>
                        <div class="mb-3">
                            <label for="user-email" class="col-form-label">Email:</label>
                            <input type="text" class="form-control" id="user-email">
                        </div>
                        <div class="mb-3">
                            <label for="user-master" class="col-form-label">Is Master:</label>
                            <input type="text" class="form-control" id="user-master" value="no">
                        </div>
                        <div class="mb-3">
                            <label for="user-display-name" class="col-form-label">Display Name:</label>
                            <input type="text" class="form-control" id="user-display-name">
                        </div>
                        <div class="mb-3">
                            <label for="user-group-name" class="col-form-label">Group:</label>
                            <input type="text" class="form-control" id="user-group-name" value="EVERYONE">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" onclick="addUser()">Add</button>
                </div>
            </div>
        </div>
    </div>

    <!-- ADD GROUP MODAL -->
    <div class="modal fade" id="addGroupModal" tabindex="-1" aria-labelledby="addGroupModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addGroupLabel">Add Group</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="group-name" class="col-form-label">Group Name:</label>
                            <input type="text" class="form-control" id="group-name">
                        </div>
                        <div class="mb-3">
                            <label for="group-display-name" class="col-form-label">Group Display Name:</label>
                            <input type="text" class="form-control" id="group-display-name">
                        </div>
                        <div class="mb-3">
                            <label for="group-description" class="col-form-label">Description:</label>
                            <input type="text" class="form-control" id="group-description">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" onclick="addGroup()">Add</button>
                </div>
            </div>
        </div>
    </div>

    <!-- ADD USER GROUP MAPPING MODAL -->
    <div class="modal fade" id="addUserGroupMappingModal" tabindex="-1" aria-labelledby="addUserGroupMappingModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addUserGroupMappingLabel">Add User Group Mapping</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="user-name" class="col-form-label">User Name:</label>
                            <input type="text" class="form-control" id="user-name">
                        </div>
                        <div class="mb-3">
                            <label for="group-name" class="col-form-label">Group Name:</label>
                            <input type="text" class="form-control" id="group-name">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" onclick="addUserGroupMapping()">Add</button>
                </div>
            </div>
        </div>
    </div>


    <!-- ERROR MODAL -->
    <div class="modal fade" id="errorModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Error adding new user</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>There was an error adding your user<br>Please try again.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteErrorModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Error deleting user/s</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>There was an error deleting your user/s<br>Please try again.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!-- NOTIFICATIONS -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <!-- Add Success -->
        <div id="addUserSuccessNotification" class="toast bg-success text-white" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Message</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                User added successfully!
            </div>
        </div>
    </div>

    <!-- Table -->
    <div id="TableDiv" class="card mb-4">
        <div class="card-body">
            <div class="header-1">
                <h3 style="float: left">People</h3>
                <div style="float:right; margin-left: 10px;" class="header-btns">
                    <!-- Add User Btn -->
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addUserModal">Add User</button>
                    <!-- <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addGroupModal">Add Group</button> -->
                    <!-- <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addUserGroupMappingModal">Add User Group Mapping</button> -->
                    <button type="button" class="btn btn-red" data-bs-toggle="modal" data-bs-target="#deleteUser" onclick="console.log('deleteUsers()'); deleteUsers();">Delete Users</button>
                    <button type="button" class="btn btn-blue" data-bs-toggle="modal" data-bs-target="#editUserModal" onclick="console.log('populateEditUserModal'); populateEditUserModal();">Edit User</button>
                </div>
            </div>
            <table class="table" id="table">
                <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Display Name</th>
                    <th>Group Name</th>
                </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Display Name</th>
                    <th>Group Name</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <!-- End Table -->
{% endblock %}


{% block script %}
    <script src="{{ url_for('static', filename='js/users.js') }}"></script>
{% endblock %}
