{% extends 'base.html' %}

{% block title %}Workflow{% endblock %}

{% block content %}
    <script>
        $("#nav-link-workflow").addClass("active");
    </script>

    <!-- Table -->
    <div id="TableDiv" class="card mb-4">
        <div class="card-body">
            <div class="header-1">
                <h3 style="float: left" class="text-center">Workflow</h3>
                <div style="float:right; margin-left: 10px;" class="header-btns"></div>
            </div>
            <table class="table" id="table">
                <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>User</th>
                    <th>Editor</th>
{#                    <th>Due Date</th>#}
                    <th>Comments</th>
                    <th>Submitted Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>User</th>
                    <th>Editor</th>
{#                    <th>Due Date</th>#}
                    <th>Comments</th>
                    <th>Submitted Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <!-- End Table -->

{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/workflow.js') }}"></script>
{% endblock %}
